.Skills-Header {
    font-family: "Permanent Marker", "Comic Sans MS", "Brush Script MT", cursive, sans-serif;
    text-align: center;
    font-size: 50px;
}

.Skills-Container {
    margin-top: 30px;
    position: relative;

}

.Sticky {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.Sticky ul{
    list-style: none;
}

.Note {
    height: 250px;
    width: 250px;
    background-color: #FFEB7F;
    padding: 30px 20px 30px 20px;
    text-align: center;
    font-family: "Architects Daughter", "Comic Sans MS", "Brush Script MT", cursive, sans-serif;
    position: relative;
    transition: all 0.3s ease-out;
}

.Note:hover{
    scale: 1.1;
}

.Note h3{
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    margin-bottom: 30px;
    margin-top: 15px;
}

.Push-Pin{
    position: absolute;
    width: 50px;
    top: 2px;
    left: 35%;

}

.Balloon{
    position: absolute;
    width: 250px;
    z-index: 10;
    left: -5%;
    animation: move 36s linear forwards,float 6s ease-in-out infinite;
}

@keyframes move{
    from{
        left: -5%;
    }
    to{
        left: 90%;
    }
}



@media (max-width:768px) {
    .Skills-Header {
        font-size: 36px;
    }

    .Balloon{
        animation:float 6s ease-in-out infinite;
        width: 100px;
        left: 90%;
        top: 90%;
    }

}

@media (max-width:1366px){
    @keyframes move{
        from{
            left: -5%;
        }
        to{
            left: 95%;
        }
    }
}