.wave-container {
    width: 100vw;
    max-width: 100%;
    height: 65px;
    background: url("/wave2.webp") repeat-x;
    background-size: 170px auto;
    /* ← smaller = more repeats */
    animation: scroll 36s linear infinite;
    position: absolute;
    left: 0%;
    z-index: 100;
    /* border: 1px solid black; */
    bottom: -30px;
}

.wave-parent {
    position: relative;
    max-width: 100%;
    height: 60px;
    /* border: 1px solid black; */
}

.ship {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -27px;
    z-index: 1;
    animation: float 6s ease-in-out infinite, drift 32s linear infinite;
    /* border: 1px solid black; */
}

.wave-container svg {
    width: 100px;
}

@keyframes float {
    0% {
        transform: translateX(-50%) translateY(0) rotate(0deg);
    }

    25% {
        transform: translateX(-50%) translateY(-5px) rotate(-2deg);
    }

    50% {
        transform: translateX(-50%) translateY(0) rotate(0deg);
    }

    75% {
        transform: translateX(-50%) translateY(5px) rotate(2deg);
    }

    100% {
        transform: translateX(-50%) translateY(0) rotate(0deg);
    }
}

/* horizontal drift left → right */
@keyframes drift {
    from {
        left: 90%;
    }

    to {
        left: 10%;
    }
}

@keyframes scroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -100% 0;
    }
}

@media (max-width:768px){
    .wave-container{
        background-size: 120px;
        bottom: -30px;
    }
    .ship{
        width: 100px;
        bottom: -5px;
    }
}