.Contact-Header {
    font-size: 30px;
    font-family: 'Permanent Marker', "Comic Sans MS", "Brush Script MT", cursive, sans-serif;
    text-align: center;
}

.Contact-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
    position: relative;
    margin-top: 40px;
   
}

.Contact-Note {
    margin-top: 40px;
    width: 650px;
    background-color: white;
    padding: 50px 20px 30px 20px;
    font-family: "Architects Daughter", "Comic Sans MS", "Brush Script MT", cursive, sans-serif;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
     z-index: 10;
}

.Contact-Parent {
    position: relative;
}

.Binder {
    position: absolute;
    width: 200px;
    top: 1px;
    transform: rotate(90deg);
}

/* ------------------------- */
/*   CLEAN NEW CONTACT ITEM  */
/* ------------------------- */

.Contact-Item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.Item-Header {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #E44242;
    font-size: 28px;
}

#LinkedIn {
    width: 25px;
}

#Github-Icon {
    width: 30px;
}

.Item-Header img {
    width: 40px;
}

.Item-Value {
    font-size: 22px;
    padding-left: 10px;
    color: #26347F;
     z-index: 10;
}

.Item-Value a {
    color: #26347F;
    text-decoration: none;
}

.Pen {
    position: absolute;
    width: 700px;
    left: -45%;
    top: 8px;
    filter: drop-shadow(-8px 0px 10px rgba(0, 0, 0, 0.3));
     /* border: 1px solid black; */
     z-index: 3;
}

.Scribble {
    position: absolute;
    width: 200px;
    left: 70%;
    top: 280px;
}

.Stain{
    position: absolute;
    width: 200px;
    /* border: 1px solid black; */
    left: 80%;
    top: 290px;
    z-index: -100000;

}

/* ------------------------- */
/*         MOBILE            */
/* ------------------------- */

@media (max-width:768px) {
    .Contact-Note {
        width: 300px;
        gap: 30px;
    }
    

    .Item-Header {
        justify-content: center;
        font-size: 24px;
    }

    .Item-Header img {
        width: 25px;
    }

    .Item-Value {
        text-align: center;
        font-size: 18px;
    }

    .Pen {
        position: absolute;
        width: 500px;
        left: -74%;
        top: 8px;
    }

    .Scribble {
        position: absolute;
        width: 90px;
        left: 70%;
        top: 280px;
    }

    .Stain{
        display: none;
    }
}