/* .svg{
    position: absolute;
    top: 0;
    left: 5%;
    z-index: -1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}

.svg svg{
    width: 100%;
    height: 100%;
}

@media (max-width:768px){
    .svg{
        display: none;
    }
}

@media (max-width:1200px){
    .svg{
        display: none;
    }
}

@media (max-width:1366px){
    .svg{
        width: 80%;
    }
} */